/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% Free To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITs AND TELL YOUR FRIENDS ABOUT US

    Color: Grey Background
   
    ========================================================  */

/* =============================================================
   GENERAL STYLES
 ============================================================ */
body {
    background-color: #f4f4f4;
}